[submodule "Dependencies/glfw-3.3.x"]
	path = Dependencies/glfw-3.3.x
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/glew-2.2.0"]
	path = Dependencies/glew-stable
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Dependencies/cglm-0.9.1"]
	path = Dependencies/cglm-0.9.1
	url = https://github.com/recp/cglm.git
